@model IEnumerable<SUPK.Models.Narudzba>

@{
    ViewData["Title"] = "Narudžbe";
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h1 class="h3 mb-0 text-gray-800">Narudžbe</h1>
    <a asp-action="Create" class="btn btn-primary shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i> Nova Narudžba
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered" width="100%" cellspacing="0">
                <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeNarudzbe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Racun)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeNarudzbe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Racun.RacunId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NarudzbaId" class="btn btn-sm btn-outline-primary">Uredi</a> 
                <a asp-action="Details" asp-route-id="@item.NarudzbaId" class="btn btn-sm btn-outline-info">Detalji</a> 
                <a asp-action="Delete" asp-route-id="@item.NarudzbaId" class="btn btn-sm btn-outline-danger">Obriši</a>
            </td>
        </tr>
}
    </tbody>
            </table>
        </div>
    </div>
</div>
